$font-ja: "Noto Sans JP", serif;
$font-en: "Montserrat", serif;
$font-size-base: 16px;
$line-height-base: 1.7;
$color-base: #111;
$background-color-base: #fafafa;
$color-key1: #f5810e;
$color-key2: #fabe00;
$color-gradation: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
$width-inner: 1140px;
